@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    height: 90%;
}
.listap {
     height: 100%;
}

.buscarp{
    height: 10%;
}

.wmax{
    max-width: 350px;
}

.alerta{
    right: 3rem;
    position: absolute;
    top: 1.2rem;
    font-size: 1.1rem;
    color: white;
    padding: 0.3rem 1rem;
}


.error{
   @apply bg-red-600 rounded-lg
}

.fine{
    @apply bg-green-600 rounded-lg
}

.qr{
    background-image: url(../public/universidad.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.diploma-text{
    font-size: 2rem;
    
    
}

.integrantes{
    grid-template-columns: 50%  50%;
}

.integrantes-text{
    font-size: 0.6rem;
}

.tablet{
    @apply sm:max-w-sm md:max-w-md lg:max-w-lg
}